<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home 03</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .size-210 {
            max-width: 400px;
            /* Adjust the max-width as needed */
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg">
        <!-- OTP Form -->
        <form class="otp-form" method="post" action="/verifyOTP">
            <h4 class="mtext-105 cl2 txt-center p-b-30">
                Enter OTP
            </h4>
            <% if (typeof msg !== 'undefined') { %>
                <p style="color:#ff0000;"><%= msg %></p>
            <% } %>
            <input type="hidden" name="email" value="<%= email %>" />
			<small class="form-text text-left" style="color: red; display: none;" id="error"></small>
            <div class="bor8 m-b-20 how-pos4-parent">
                <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="otp" name="otp"
                    placeholder="Enter OTP">
                <img class="how-pos4 pointer-none" src="images/icons/padlock.png" alt="Key Icon"
                    style="width: 20px; height: 20px;">
            </div>
            <button
                class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                Verify OTP
            </button>
        </form>
    </div>

    <!-- Scripts -->
    <script>
		document.addEventListener("DOMContentLoaded", function () {
		  const otpInput = document.querySelector('#otp');
		  const errorParagraph = document.getElementById('error');
		  const otpForm = document.querySelector('.otp-form');
	  
		  otpInput.addEventListener("input", function () {
			const enteredOTP = otpInput.value;
	  
			if (!/^\d{4}$/.test(enteredOTP)) {
			  displayError("Invalid OTP format. Please enter exactly 4 numbers.");
			} else {
			  clearError();
			}
		  });
	  
		  otpForm.addEventListener('submit', function (event) {
			const enteredOTP = otpInput.value;
	  
			if (!/^\d{4}$/.test(enteredOTP)) {
			  event.preventDefault();
			  displayError("Invalid OTP format. Please enter exactly 4 numbers.");
			}
		  });
	  
		  function displayError(message) {
			errorParagraph.textContent = message;
			errorParagraph.style.display = "block";
			otpInput.style.border = "1px solid red";
		  }
	  
		  function clearError() {
			errorParagraph.textContent = "";
			errorParagraph.style.display = "none";
			otpInput.style.border = "";
		  }
		});
	  </script>
	  
    <script src="js/main.js"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
	<script src="vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	</script>
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
</body>

</html>
